.product-image {
    background-color: #f6f6f6;
  }
  
  .product-title {
    font-size: 14px;
    font-weight: 500;
    color: #0e1422;
  }
  
  .in-stock-tag {
    font-size: 12px;
    font-weight: 500;
    color: #0e1422;
    padding: 4px 16px;
    border-radius: 50px;
    border: 1px solid #e6e7e8;
  }
  
  .product-price {
    font-size: 12px;
    font-weight: 400;
    color: #474b57;
  }