.fashion-section {
  width: 100%;
  height: 304px;
  margin-top: 48px;
  border-radius: 4px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background: linear-gradient(90deg, #F6F6F6 11.25%, rgba(255, 255, 255, 0) 100%);
}
  
  .fashion-section h2 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 351px;
    height: 29px;
    padding: top 52px;
    padding-left: 174px;
    }
  
  .fashion-section p {
    color: #5C5F6A;
    width: 400px;
    height: 50px;
    left: 174px;
    margin-bottom: 30px;
    padding: top 105px;
    padding-left: 174px;
  }
  
  .fashion-section button {
    background-color: #0E1422;
    color: #fff;
    width: 177px;
    height: 44px;
    margin-top: 12px; 
    margin-left: 174px; 
    border-radius: 4px; 
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fashion-section button span {
    margin-left: 6px;
  }
  
  
  .fashion-section .image-container {
    text-align: right;
  }
  
  .fashion-section .image-container img {
    width: 225px;
    height: 311px;
    margin-top: -21px;
    left: 1002px;
    }
  