.image-section-container {
    height: 100%;
  }
  
  .circle-style {
    position: absolute;
    right: 25%;
    top: 60%;
    transform: translateY(-50%);
  }
  
  .image-container-style {
    position: absolute;
    width: 300px;
    height: 400px;
    right: 22%;
    top: 60%;
    transform: translateY(-50%);
  }
  
  
  .star-style {
    position: absolute;
    top: 100px;
    right: 550px;
  }